.form{
    width: 50%;
    height: inherit;
    text-align: center;
    background-color: antiquewhite;
    margin: 25px;
}
.related{
    background-color:aquamarine;
    width: 40%;
    height: inherit;

}

